<script type="module">
  import tatiyeNet,{
  setModal,
  setFrom,
  setHttp,
  Router,
  Images,
  modalEntri,
  modalRoute
} from "{ROOTMODULES}/es6.js";
import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.esm.browser.js';
import 'https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js';

window.app = new Vue({
  el: '#app',
  data: {
     "content"     :[],
     "indexOn"     :'Hello Net',  
     "token"       :'eyJkaXIiOiJyZWFjdFwvQXBpXC8wLjFcL2FwcGZpbGUucGhwIiwidWlkIjoxfQ',               
     "limit"       :"3",
     "search"      :'',
     "page"        :1,
     "keywords"    :"",                  
     "news"        :[], 
     "pagingList"  :[],
     "Newer"       :1,
     "Older"       :1,
     "images"       :'',
     "userid"      :tatiyeNet.userid,
    },
    mounted (){
        this.storage()
    },
    methods: {
      getPaging(count) {
       this.page =count;
      },
      dataUser(count) {
       this.page =count;
      },
      modalRoute(header,id,style,content,path){
         modalRoute(header,id,style,content,path,'vue');
      },
      modalEntri(header){
        
      },
      storage(){
       var vm = this; 
       axios.post(tatiyeNet.api+'/v2/'+this.token, {
           "limit"   :this.limit,
           "page"    :this.page,
           "keywords":this.keywords
       }, {
        headers: {
         'Content-Type': 'application/json',
         "Authorization": tatiyeNet.token,
        }
      })
      .then(function (response) {
        vm.content     = response.data.storage
        vm.pagingList  = response.data.paging
        vm.Newer  = response.data.newer
        vm.Older  = response.data.older
      });
      }
    },
  computed: {
    autoload(){
       return this.content;
    },
    setPaging(){
      return this.pagingList;
    },
    setNewer(){
      return this.Newer;
    },
    setOlder(){
      return this.Older;
    },
    setOlder(){
      return this.Older;
    },
   }
})



</script>
<div id="app">
   <input type="text" placeholder="Enter KeyWords"v-model="keywords" class="form-control" @keyup="storage">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">File</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">#</th>

    </tr>
  </thead>
  <tbody>
    <tr v-for="(row, index) in content">
      <th scope="row"> {{row.no}}</th>
      <th> <img style="width:50px" class="card-img-top" :src="row.filename" ></th>
      <td>{{row.nama}}</td>
      <td>{{row.title}}</td>
     
      <td>
                   
                   <a href="javascript:void(0);" class="dropdown-link" data-toggle="dropdown"><i class="feat feat-more-vertical"></i></a>
                    <div class="dropdown-menu">
                      <a v-on:click="modalRoute(row.nama,row.id,'400px','content','vue/data')"href="javascript:void(0);" class="pt-5px dropdown-item delete"><i class="icon-feather-info fs-14px"></i> Info detail</a>
                      <a v-on:click="modalRoute(row.nama,row.id,'400px','from','vue/modal')"href="javascript:void(0);" class="pt-5px dropdown-item delete"><i class="icon-feather-edit-3 fs-14px"></i> Update</a>
                      <a v-on:click="modalRoute(row.nama,row.id,'400px','upload','vue/upload')"href="javascript:void(0);" class="pt-5px dropdown-item delete"><i class="icon-feather-image fs-14px"></i> Upload Img</a>
                      <a v-on:click="modalRoute(row.nama,row.id,'400px','upload','vue/uploadFile')"href="javascript:void(0);" class="pt-5px dropdown-item delete"><i class="icon-feather-file fs-14px"></i> Upload File</a>
                      <a v-on:click="modalRoute(row.nama,row.id,'400px','delete','vue/data')"href="javascript:void(0);" class="pt-5px dropdown-item delete"><i class="icon-feather-trash fs-14px"></i> Delete</a>
                    </div>
                 
    </tr>
  </tbody>
</table>
  
<nav aria-label="Page navigation example">
  <ul class="pagination mg-b-0">
 
      <li class="page-item">
      <a class="page-link page-link-icon" v-on:click="getPaging(Newer)" @click="storage()">
        <i data-feather="chevron-left"></i>
      </a>
    </li>
  <li  class="page-item"v-for="(row, index) in pagingList" :class="(row.calss)">
                <a class="page-link" href="javascript:void(0);"v-on:click="getPaging(row.page)" @click="storage()">{{ row.page }}</a>
              </li>
    <li class="page-item">
      <a class="page-link page-link-icon" v-on:click="getPaging(Older)" @click="storage()">
        <i data-feather="chevron-right"></i>
      </a>
    </li>
  </ul>
</nav>



</div>
